<%= form_with model: @user, local:true do |form| %>

  <p><%= form.label :email %></p>
  <p><%= form.text_field :email, id: :user_email %>
  

  <p><%= form.label :password %></p>
  <p><%= form.password_field :password, id: :user_password %></p>
  
  <p><%= form.label :password_confirmation %></p>
  <p><%= form.password_field :password_confirmation, id: :user_password_confirmation %></p>

  <p><%= form.submit %></p>

<% end %>
