<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.questions') %></th>
     
  <%= render @tests %>
</table>
 <p><%= link_to t('.new'), new_admin_test_path %></p>