<div class="container-fluid">
  <h3><%= t('.header') %></h3>
  <table class="table table-light table-bordered">
    <thead class="thead-light">
      <tr>
        <th class="text-center"><%= t('.title') %></th>
        <th class="text-center"><%= t('.level') %></th>
        <th class="text-center"><%= t('.category') %></th>
        <th class="text-center"><%= t('.questions') %></th>
        <th class="text-center"><%= t('.start_test') %></th>
      </tr>
    </thead>  
    <%= render @tests %>
  </table>
</div>